# Virtual environment
.omlete
venv
env

# Python cache
__pycache__
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.local

# pyenv
.python-version

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache
.coverage
htmlcov/

# IDEs
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log